.MuiPaper-root {
    background-color: #25282c !important;
    
    .MuiTableCell-sizeSmall {
        border-bottom: 1px solid #393939 !important;
        color: #919eab !important;
    }
    
    .MuiTypography-root {
        color: #fff !important;
    }
    
    .MuiTablePagination-toolbar {
        color: #fff !important;
    }

}